<!DOCTYPE html>
<html>
<head>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
<h3>Top 5 Regular Users and Respective Revision Numbers</h3>
<table style="width:50%">
    <tr>
        <td align="center"><%=top_five_user[0]._id%></td>
        <td align="center"><%=top_five_user[0].NumOfRev%></td>
    </tr>
    <tr>
        <td align="center"><%=top_five_user[1]._id%></td>
        <td align="center"><%=top_five_user[1].NumOfRev%></td>
    </tr>
    <tr>
        <td align="center"><%=top_five_user[2]._id%></td>
        <td align="center"><%=top_five_user[2].NumOfRev%></td>
    </tr>
    <tr>
        <td align="center"><%=top_five_user[3]._id%></td>
        <td align="center"><%=top_five_user[3].NumOfRev%></td>
    </tr>
    <tr>
        <td align="center"><%=top_five_user[4]._id%></td>
        <td align="center"><%=top_five_user[4].NumOfRev%></td>
    </tr>
</table>

</body>
</html>