<!DOCTYPE html>
<html>
<head>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/TopUserSelectPage.js"></script>

</head>
<body>
<h2>This is TopUserSelect page</h2>

<select multiple id="selected_user">
    <option value=<%=top_five_user[0]._id%>><%=top_five_user[0]._id%></option>
    <option value=<%=top_five_user[1]._id%>><%=top_five_user[1]._id%></option>
    <option value=<%=top_five_user[2]._id%>><%=top_five_user[2]._id%></option>
    <option value=<%=top_five_user[3]._id%>><%=top_five_user[3]._id%></option>
    <option value=<%=top_five_user[4]._id%>><%=top_five_user[4]._id%></option>
</select>

<button type="button" id="select_user_button">Check the information about this title</button>


</body>
</html>