<!DOCTYPE html>
<html>
<head>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/TopUserSelectPage.js"></script>

</head>
<body>
<h3>Select the user</h3>

<div id="top_one_user_text"><input type="checkbox" id="top_one_user"><%=top_five_user[0]._id%></div><br>
<div id="top_two_user_text"><input type="checkbox" id="top_two_user"><%=top_five_user[1]._id%></div><br>
<div id="top_three_user_text"><input type="checkbox" id="top_three_user"><%=top_five_user[2]._id%></div><br>
<div id="top_four_user_text"><input type="checkbox" id="top_four_user"><%=top_five_user[3]._id%></div><br>
<div id="top_five_user_text"><input type="checkbox" id="top_five_user"><%=top_five_user[4]._id%></div><br>

<button type="button" id="select_user_button">Show the chart</button>


</body>
</html>